body{overflow-x:hidden;}
.navbar2{
    background-color: rgb(79, 116, 155);
    width: 100%;padding: 10px;color: white;
}
.navbar2 .container{
    display: flex;
    justify-content: space-between;
}
.navbar2 .container .Left {display: flex;margin-right: 150px;padding-bottom: 5px;}
.navbar2 .container .Left h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-transform: capitalize;
}
.navbar2 .container .Left img{
    width: 50px;height: 50px;margin-right: 30px;margin-top: 10px;
}
.navbar2 .container .Right{padding-top: 20px;}
.navbar2 .container .Right tr td a{
    text-decoration: none;
    margin-left: 40px;font-weight: bolder;
    font-size: 18px;color: white;
}



.LogIn{margin-top: 30PX;margin-left: 10%;}
.LogIn h1{margin-bottom: 20px;}
input[type=text], input[type=password] {
    width: 50%;padding: 15px;margin: 5px 0 22px 0;
    display: block;border: none;background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;outline: none;
}
.sign {
    background-color: #04AA6D;color: white;padding: 16px 20px;
    margin: 8px 0;border: none;cursor: pointer;width: 50%;opacity: 0.9;
    text-decoration: none;color: white;
}
.sign:hover {opacity: 1;}
a {color: dodgerblue;}
.signUp {
    background-color: #f1f1f1;text-align: center;margin-left: 3%;margin-top: 20PX;
	margin-bottom: 20px;padding: 10px;width: 47%;
}


.footer{
    padding-top:50px;padding-bottom:30px;background-color:#2c243c;
}
.footer div p a{
    text-decoration: none;color: #bbb;font-weight: bold;
    line-height: 20px;
}
.footer div h2{margin-bottom:20px;color:white;}
.footer div img{
    width: 30px;height: 30px;margin-left:35px;
}
.footer .cen{
	display:flex;margin-top:30px;border-top:2px solid white;
	padding-top:5px;font-size:18px;
}
.footer .cen img{width:30px;height:30px;margin-top:5px;}
.footer .cen span{color:white;margin-top:8px;margin-left:15px;text-transform:capitalize;}
.footer .cen #copy{margin:auto;}